{% extends 'base.html' %}
{% load static %}

{% block 'title' %}User Login{% endblock %}

{% block content %}
<main class="container mr-auto ">
	<h1>Account Login</h1>

	{% if user.is_authenticated %}
	<p>You are already logged in.
		<a href="{% url 'accounts:profile' %}">Go to Profile</a>
	</p>


	{% else %}
	<form action="{% url 'login' %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}

		<p>
			<input type="submit" value="Login">
		</p>
		<p>
			<a href="{% url 'accounts:create' %}">
				<input type="button" value="Create Account">
			</a>
		</p>
		<p>
			<a href="{% url 'password_reset' %}">
				<input type="button" value="Forgot Password?">
			</a>
		</p>
	</form>
	{% endif %}
</main>
{% endblock %}