{% extends 'base.html' %}
{% load static %}

{% block 'title' %}User Profile{% endblock %}

{% block content %}
<main class="container">
  <h1>Mon profil</h1>

  <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>

  <p>
    <a href="{% url 'accounts:change-profile' %}">
      <button>Edit Profile</button>
    </a>
  </p>
  <p>
    <a href="{% url 'password_change' %}">
      <button>Change Password</button>
    </a>
  </p>

  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Log Out">
  </form>
</main>
{% endblock %}