{% extends 'base.html' %}
{% load static %}
{% block title %}Ajout d'un mémoire{% endblock %}

{%block content%}
<div class="container mt-5 d-flex justify-content-center">
    <h2 class="text-center mb-4">Ajout d'un mémoire dans la base des donnees</h2>
    <div class="col-md-8 mr-auto">
        <form method=" POST" enctype="multipart/form-data" class="form col-md-6">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Ajouter Memoire</button>
        </form>
    </div>
</div>
{%endblock%}