{% extends 'base.html' %}
{% load static %}
{% block title %}SGT UCBC{% endblock %}

{%block content%}

<div class="container d-flex flex-wrap align-items-center justify-content-md-between py-3 mb-4 border-bottom">

    <div class="col-md-9 ">
        <!-- Titre et Auteur -->
        <div class="mb-4">
            <h2>{{memoire.titre}}</h2>
            <hr>
            <h6><strong>Auteur : </strong>{{memoire.auteur}} ({{memoire.annee_ac}})</h6>
            <!-- Barre séparatrice -->
            <hr>
        </div>

        <!-- Détails du mémoire -->
        <div class="mb-3">
            <p><strong>Titre en français :</strong>{{memoire.titre}}</p>
            <p><strong>Directeur de recherche :</strong> {{memoire.Directeur}}</p>
            <p><strong>Encadreur :</strong> {{memoire.Encadreur}}</p>
            <p><strong>Date de soutenance :</strong> 10 septembre 2024</p>
            <p><strong>Résumé en français : </strong>{{memoire.resume}}</p>
            <p><strong>Résumé en Anglais :</strong>{{memoire.abstract}}</p>
            <p><strong>Departement :</strong></p>
            <p><strong>Interet du Sujet :</strong></p>
            <p><strong>Mots-clés en français :</strong></p>

            <p><strong>Accès au document :</strong> Consultable</p>
        </div>
    </div>

    <div class="col-md-3 card bg-success">CED</div>
</div>

{%endblock%}